html, body {
  background: linear-gradient(165deg, #4caadd, #6cb8e0, #023b86);
  font-family: "Lucida Console", Courier, monospace;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  color: #fff;
}

body {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "nav" "main" "footer";
  grid-template-columns: 1fr;
  height: 100%;

  grid-template-rows: $navbar-height 1fr 3rem;
  @media screen and (max-width: $breakpoint) {
    grid-template-rows: $navbar-height 1fr 5rem;
  }

  h1, ul {
    text-shadow: 1px 1px 42px black;
  }

  img.homepage-avatar {
    box-shadow: 1px 11px 41px -30px black;
  }

  a {
    color: #b3d9ff;
    text-decoration: none;

    &:hover, &:active, &:visited {
      color: #b3d9ff;
      text-decoration: underline;
    }
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
    justify-self: center;
    grid-column: 1 / -1;
    max-width: 80rem !important;
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;

    &.home {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  footer {
      grid-area: footer;
  }

  article {
    section {
      thead {
        display: none;
      }
      tbody {
        td {
          border: 0;
        }
        tr {
          td:first-child {
            color: #fff5c1;
          }
        }
      }
    }
  }
}
