{{ define "main" }}
  <article>
    <section>
      <img
      class="homepage-avatar"
      src="/2E8E1B6A-210C-485F-BBC0-0D039A3FDE2B_1_105_c.jpeg"
      >
      {{ .Content }}
    </section>
  </article>
{{ end }}
